POSTGRES_DB=sysml2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
SYSML_API_URL=http://sysml-api:9000
CHANGE_ENGINE_URL=http://change-engine:8000
OPENAI_API_KEY=xxx
OPENAI_API_MODEL=gpt-5.5