services:
  database:
    image: postgres:17.6-trixie
    ports:
      - "5432:5432"
    env_file:
      - demo/.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  sysml-api:
    build:
      context: .
      dockerfile: demo/sysml_api/Dockerfile
    depends_on:
      database:
        condition: service_healthy
    ports:
      - 9000:9000
    healthcheck: # check if the docs page returns a value
      test: ["CMD-SHELL", "curl -fsS -o /dev/null -w '%{http_code}' http://127.0.0.1:9000/docs/ | grep -q 200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 6
      start_period: 15m

  seed:
    build:
      context: ./demo/seeder
    environment:
      API_BASE_URL: http://sysml-api:9000
    depends_on:
      sysml-api:
        condition: service_healthy

  change-engine:
    build:
      context: .
      dockerfile: ./Dockerfile
    depends_on:
      seed:
        condition: service_completed_successfully
    ports:
      - "8000:8000"
    env_file:
      - demo/.env

  frontend:
    build:
      context: ./demo/ui
    depends_on:
      seed:
        condition: service_completed_successfully
    ports:
      - "8501:8501"
    env_file:
      - demo/.env

volumes:
  pgdata: